<!DOCTYPE html>
<html lang="en">
<head>
	<title>Registration Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<fieldset>
		{% for message in messages %}
			<h2>Warning: {{message}}</h2>
		{% endfor %}
		<legend><strong>Registration Form</strong></legend>
		<form method="post">
			{% csrf_token %}
			<div>
				<label>Email: <input type="email" name="Email" required></label>
			</div>
			<div>
				<label>Password: <input type="password" name="Password" required></label>
			</div>
			<div>
				<label>Confirm Password: <input type="password" name="Confirm Password" required></label>
			</div>
			<div>
				<button type="submit">Register</button>
			</div>
		</form>
	</fieldset>
</body>
</html>